.action-bar {
  background-color: $shakedeal-golden;
  color: #ffffff;

  .action-bar-title {
    font-weight: 500;
    font-size: 18;
    vertical-align: center;
  }

  .action-item {
    font-weight: normal;
  }
}